/* Add space around the hr to make clicking it easier */

.ProseMirror-example-setup-style .ProseMirror-content hr {
  position: relative;
  height: 6px;
  border: none;
}

.ProseMirror-example-setup-style .ProseMirror-content hr:after {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  top: 2px;
  border-top: 2px solid silver;
}

.ProseMirror-example-setup-style .ProseMirror-content img {
  cursor: default;
}

.ProseMirror-example-setup-style .ProseMirror-content table {
  border-collapse: collapse;
}

.ProseMirror-example-setup-style .ProseMirror-content td {
  vertical-align: top;
  border: 1px solid #ddd;
  padding: 3px 5px;
}
